/SIMsalabim version
/SIMsalabim/SimSS/*
!/SIMsalabim/SimSS/simms*
/SIMsalabim/SimSS/*.txt
/SIMsalabim/SimSS/*.dat
!/SIMsalabim/SimSS/device_parameters.txt
*.zip
/Simulations/*
!/Simulations/tmp*
.pylintrc
.vscode